{% extends 'base.html' %}

{% block sidebar %}
<form method="get" action="{% url 'index' %}">
    {{ form }}
    <input class="btn btn-primary" type="submit" name="Filter results">
    <a href="{% url 'index' %}?reset=true" class="btn btn-secondary">Reset filters</a>
</form>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th>Image
        <th><a href="{% url 'index' %}?sort=name">Name</a>
        <th>Description
        <th><a href="{% url 'index' %}?sort=ages">Ages</a>
        <th><a href="{% url 'index' %}?sort=price">Price</a>
    </thead>
    <tbody>
{% for p in products %}
    <tr>
      {% with img=p.random_image %}
        <td>
          {% if img %}
          <img class="thumbnail" src="{{img.image.url}}"
            {% if img.caption %}
              alt="{{img.caption}}"
            {% endif %}
          />
          {% endif %}
      {% endwith %} 
        <td><a href="{% url 'show' p.id %}">{{ p.name }}</a>
        <td>{{ p.description|truncatewords:5 }}
        <td class="right">{{ p.age_range }}
        <td class="right">{{ p.price|floatformat:2 }}
{% endfor %}
    </tbody>
</table>
{% endblock %}

